services:
#  discovery-service:
#    build: ./discovery-service
#    container_name: discovery-service
#    ports:
#      - "8761:8761"
#    environment:
#      - SPRING_CLOUD_COMPATIBILITY_VERIFIER_ENABLED=false

  userservice:
    build: ./userservice
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-user:5432/userdb
      - SPRING_DATASOURCE_USERNAME=fara
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_APPLICATION_NAME=userservice
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
    depends_on:
      - postgres-user
#      - discovery-service

  companyservice:
    build: ./companyservice
    ports:
      - "8081:8081"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-company:5432/companydb
      - SPRING_DATASOURCE_USERNAME=fara
      - SPRING_DATASOURCE_PASSWORD=password
      - SPRING_APPLICATION_NAME=companyservice
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
    depends_on:
      - postgres-company
#      - discovery-service

#  api-gateway:
#    build: ./api-gateway
#    ports:
#      - "9000:9000"
#    environment:
#      - USER_SERVICE_URI=http://userservice:8080
#      - COMPANY_SERVICE_URI=http://companyservice:8081
#      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://discovery-service:8761/eureka/
#    depends_on:
#      - userservice
#      - companyservice

  postgres-user:
    image: postgres:17
    container_name: postgres-user
    environment:
      - POSTGRES_USER=fara
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=userdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata-user:/var/lib/postgresql/data

  postgres-company:
    image: postgres:17
    container_name: postgres-company
    environment:
      - POSTGRES_USER=fara
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=companydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata-company:/var/lib/postgresql/data

volumes:
  pgdata-user:
  pgdata-company:
