spring:
  application:
    name: userservice
  datasource:
    url: jdbc:postgresql://localhost:5433/userdb
    username: fara
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

company:
  service:
    url: http://companyservice:8081


